<div class="wrapper">
    <div class="social">
        <a href="https://www.linkedin.com/in/brian-b-4000ab189/" target="_blank"> <img src="https://res.cloudinary.com/dkzsmlfpl/image/upload/v1670753472/portfolio/linkedin_jkeeqf.svg" alt="linkedin" /></a>
        <a href="https://github.com/BrianEP-hub" target="_blank"><img src="https://res.cloudinary.com/dkzsmlfpl/image/upload/v1670753472/portfolio/github_s4koqn.svg" alt="github" /></a>
        <a href="mailto:daryllbriancb@gmail.com"><img src="https://res.cloudinary.com/dkzsmlfpl/image/upload/v1670763288/portfolio/email_oweltq.svg" alt="email"></a>
    </div>
</div>