<div class="wrapper">
  <mat-card-content class="contact-content">
    <mat-card-title>Get in touch</mat-card-title>
    <div class="content-wrapper">
        <div class="contact-info">
            <mat-card-title>
                Funfacts
            </mat-card-title>
            <ul>
                <li>My dog is a mixbreed between a Huskey and a German Shepherd</li>
                <li>I am a huge gamer, in a variety of games. But I mostly play strategy and FPS now</li>
                <li>I love to work out (5-6 times a week)</li>
                <li>I have a huge passion for coding and want help out others</li>
            </ul>
        </div>
        <div class="contact-form">
            <mat-card-title>
                Contact
            </mat-card-title>
            <app-contact-form></app-contact-form>
        </div>
    </div>
  </mat-card-content>
</div>
