<mat-toolbar>
  <span class="example-spacer"></span>
  <div class="links">
    <a class="nav-link" routerLink="" fragment="home">Home</a>
    <a class="nav-link" routerLink="" fragment="project">Projects</a>
    <a class="nav-link" routerLink="" fragment="contact">Contact</a>
  </div>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="Example icon-button with menu icon"
    [mat-menu-trigger-for]='menu'
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>


<mat-menu #menu>
  <div class="menu-links">
    <a class="nav-link" routerLink="" fragment="home">Home</a>
    <a class="nav-link" routerLink="" fragment="project">Projects</a>
    <a class="nav-link" routerLink="" fragment="contact">Contact</a>
  </div>
</mat-menu>