name: Angular Portfolio GitHub CI
on: 
  push: 
    branches: 
      - main
      
jobs: 
  ci:
    runs-on: ubuntu-latest
    
    strategy:
      matrix: 
        node-version: [14.20.x, 16.13.x]
        
    steps:
      - uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
        
      - name: Cache node modules
        id: cahce-nodemodules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # cache node_modules
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build${{ env.cahce-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
          
      - name: Install Dependencies
        if: steps.cache-nodemodules.outputs.cache-hit != 'true'
        run: |
          npm ci
        
      - name: Build
        run: |
          npm run build --

      # - name: Deploy
      #   run: |
      #     npm run deploy --
          
      # - name: Lint
      #   run: |
      #     npm run lint
      
      # - name: Test
      #   run: |
      #     npm run test --
          
  
